.top {
  height: 5vh;
  width: 100vw;
  color: white;
  background-color: #fd644d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.title {
  color: #fd644d;
  font-weight: bolder;
}

th, label {
  font-weight: 400;
}
