<!DOCTYPE html>
<html ng-app='calc'>
  <head>
    <meta charset="utf-8">
    <title>Calc</title>
  </head>
  <body ng-controller='mainController'>
    <h1>DO MATH RIGHT NOW</h1>
    <label>Select math function</label>
    <select id='operation'>
      <option value="1">Add</option>
      <option value="2">Subtract</option>
      <option value="3">Multiply</option>
      <option value="4">Divide</option>
      <option value="5">Power</option>
    </select>
    <label>First Number</label>
    <input type="text" ng-model='num1'>
    <label>Second Number</label>
    <input type="text" ng-model='num2'>
    <button type="submit" ng-click='math()'>Math it</button>
    {{total | number}}

    <!-- angular cdns -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    <!-- app, service, and controller -->
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/services.js'></script>
    <script type="text/javascript" src='js/controllers/main_controller.js'></script>

  </body>
</html>
