<div class='container'>
  <div class='pull-left'>
    <h3>My Shopping Bag</h3>
  </div>
  <div class='pull-right'>
    <h3>Order total: {{grandTotal / 100 | currency}}</h3>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <th>Product</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </thead>
  <tbody ng-repeat='item in cart'>
    <td>
      <h1>{{item.name}}</h1>
      <img ng-src="{{item.imageUrl}}" alt="No image available">
      <p><strong>Caffeine Scale: </strong> {{item.caffeineScale}}</p>
      <p><strong>Ingredients: </strong> {{item.ingredients}}</p>
      <p><strong>Rating: </strong>{{item.rating}}</p>
    </td>
    <td>
      <select ng-show='{{show ? true:false}}'class='ng-hide'>
        <option value="1">1</option>
      </select>
      {{item.qty}}
    </td>
    <td>
      {{item.price / 100 * item.qty | currency}}
    </td>
    <td>
      <button class="btn btn-warning">Edit</button>
      <button ng-click='delete($index, price)'class="btn btn-danger">Remove</button>
    </td>
  </tbody>
</table>







<!-- <div ng-repeat='item in cart'>
</div> -->
